@model IEnumerable<SiteBibliotecaMVC.Models.LivroViewModel>

@{
    Layout = null;
}

<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mt-3">
            <div class="card">

                @if(item.Foto != null) {
                    <img class="card-img-top" src="~/@item.Foto" style="width:318px;height:238px" />
                } 
                else {
                    <img class="card-img-top" src="https://picsum.photos/200/150/?random" />
                }

                <div class="card-body">
                    <h5 class="card-title">@item.Titulo</h5>
                    <p class="card-text">Quantidade: @item.Quantidade</p>
                </div>
                <div class="card-footer">
                    <a asp-area="" asp-controller="Carrinho" asp-action="Adicionar" 
                        asp-route-id="@item.Id" class="btn btn-primary">
                        <i class="fas fa-cart-plus"></i>
                        Add ao Carrinho</a>
                </div>
            </div>
        </div>
    }
</div>

